<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mediscreen</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/home">Home</a>&nbsp;|&nbsp;
            <a href="/patients/list">Patients</a>&nbsp;|&nbsp;
        </div>
    </div>
    <h1> Patients </h1>
    <a href="/patients/add" class="btn btn-primary btn-sm">Add new patient</a>

    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Family</th>
                <th>Given</th>
                <th>Date of birth</th>
                <th>Sex</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patientList}">
                <td th:text="${patient.family}"></td>
                <td th:text="${patient.given}"></td>
                <td th:text="${patient.dateOfBirth}"></td>
                <td th:text="${patient.sex}"></td>
                <td th:text="${patient.address}"></td>
                <td th:text="${patient.phone}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/patients/update/{id}(id=${patient.id})}">Edit</a>
                    <a th:href="@{/patients/delete/{id}(id=${patient.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>