<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mediscreen</title>
    <link rel="stylesheet"
          href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="home.html" th:href="@{/home}">Home</a>&nbsp;|&nbsp;
            <a href="patients/list.html" th:href="@{/patients/list}">Patients</a>&nbsp;|&nbsp;
        </div>
    </div>

    <h1> Home </h1>

    <p> Welcome on Mediscreen App !</p>
</div>
</body>

</html>